@import "tailwindcss";

@theme {
  --color-cardinal: var(--cardinal);
  --color-cardinal-50: var(--cardinal-50);
  --color-cardinal-100: var(--cardinal-100);
  --color-cardinal-200: var(--cardinal-200);
  --color-cardinal-300: var(--cardinal-300);
  --color-cardinal-400: var(--cardinal-400);
  --color-cardinal-500: var(--cardinal-500);
  --color-cardinal-600: var(--cardinal-600);
  --color-cardinal-700: var(--cardinal-700);
  --color-cardinal-800: var(--cardinal-800);
  --color-cardinal-900: var(--cardinal-900);
  --color-cardinal-950: var(--cardinal-950);

  --color-ambiental: var(--ambiental);
  --color-ambiental-50: var(--ambiental-50);
  --color-ambiental-100: var(--ambiental-100);
  --color-ambiental-200: var(--ambiental-200);
  --color-ambiental-300: var(--ambiental-300);
  --color-ambiental-400: var(--ambiental-400);
  --color-ambiental-500: var(--ambiental-500);
  --color-ambiental-600: var(--ambiental-600);
  --color-ambiental-700: var(--ambiental-700);
  --color-ambiental-800: var(--ambiental-800);
  --color-ambiental-900: var(--ambiental-900);
  --color-ambiental-950: var(--ambiental-950);

  --color-drones: var(--drones);

  --color-background: var(--background);

  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-950: var(--neutral-950);

  --font-primary: 'Inter', sans-serif;

  --color-dark: #151823;
  --color-light: #f5f5f5;

  --color-contrast: var(--contrast);
}

.light {
  --cardinal: #c01e30;
  --cardinal-50: #480913;
  --cardinal-100: #811a2c;
  --cardinal-200: #971a2c;
  --cardinal-300: #c01e30;
  --cardinal-400: #d52937;
  --cardinal-500: #e94a50;
  --cardinal-600: #f3797b;
  --cardinal-700: #f8aaa9;
  --cardinal-800: #fbd1d0;
  --cardinal-900: #fde8e6;
  --cardinal-950: #fef3f2;

  --ambiental: #76C109;
  --ambiental-50: #f0fbe6;
  --ambiental-100: #ddf7cc;
  --ambiental-200: #bfed99;
  --ambiental-300: #97db5e;
  --ambiental-400: #76c109;
  --ambiental-500: #5fa107;
  --ambiental-600: #4c8106;
  --ambiental-700: #3b6205;
  --ambiental-800: #2d4a04;
  --ambiental-900: #1f3303;
  --ambiental-950: #111c02;

  --color-drones: #55B2FF;

  --background: #f5f5f5;

  --neutral-50: #f8fafc;
  --neutral-100: #f1f5f9;
  --neutral-200: #e2e8f0;
  --neutral-300: #cbd5e1;
  --neutral-400: #94a3b8;
  --neutral-500: #64748b;
  --neutral-600: #475569;
  --neutral-700: #334155;
  --neutral-800: #1e293b;
  --neutral-900: #0f172a;
  --neutral-950: #020617;

  --contrast: #000000;
}

.dark {
  --cardinal: #c01e30;
  --cardinal-50: #fef3f2;
  --cardinal-100: #fde8e6;
  --cardinal-200: #fbd1d0;
  --cardinal-300: #f8aaa9;
  --cardinal-400: #f3797b;
  --cardinal-500: #e94a50;
  --cardinal-600: #d52937;
  --cardinal-700: #c01e30;
  --cardinal-800: #971a2c;
  --cardinal-900: #811a2c;
  --cardinal-950: #480913;

  --ambiental: #76C109;
  --ambiental-50: #111c02;
  --ambiental-100: #1f3303;
  --ambiental-200: #2d4a04;
  --ambiental-300: #3b6205;
  --ambiental-400: #4c8106;
  --ambiental-500: #5fa107;
  --ambiental-600: #76c109;
  --ambiental-700: #97db5e;
  --ambiental-800: #bfed99;
  --ambiental-900: #ddf7cc;
  --ambiental-950: #f0fbe6;

  --color-drones: #55B2FF;

  --background: #151823;

  --neutral-50: #020617;
  --neutral-100: #0f172a;
  --neutral-200: #1e293b;
  --neutral-300: #334155;
  --neutral-400: #475569;
  --neutral-500: #64748b;
  --neutral-600: #94a3b8;
  --neutral-700: #cbd5e1;
  --neutral-800: #e2e8f0;
  --neutral-900: #f1f5f9;
  --neutral-950: #f8fafc;

  --contrast: #ffffff;
}
