@import "tailwindcss";

@theme {
  --color-cardinal: var(--cardinal);
  --color-cardinal-50: var(--cardinal-50);
  --color-cardinal-100: var(--cardinal-100);
  --color-cardinal-200: var(--cardinal-200);
  --color-cardinal-300: var(--cardinal-300);
  --color-cardinal-400: var(--cardinal-400);
  --color-cardinal-500: var(--cardinal-500);
  --color-cardinal-600: var(--cardinal-600);
  --color-cardinal-700: var(--cardinal-700);
  --color-cardinal-800: var(--cardinal-800);
  --color-cardinal-900: var(--cardinal-900);
  --color-cardinal-950: var(--cardinal-950);

  --color-background: var(--background);

  --color-neutral-50: var(--neutral-50);
  --color-neutral-100: var(--neutral-100);
  --color-neutral-200: var(--neutral-200);
  --color-neutral-300: var(--neutral-300);
  --color-neutral-400: var(--neutral-400);
  --color-neutral-500: var(--neutral-500);
  --color-neutral-600: var(--neutral-600);
  --color-neutral-700: var(--neutral-700);
  --color-neutral-800: var(--neutral-800);
  --color-neutral-900: var(--neutral-900);
  --color-neutral-950: var(--neutral-950);

  --font-primary: 'Inter', sans-serif;

  --color-dark: #151823;
  --color-light: #f5f5f5;

  --color-contrast: var(--contrast);
}

.light {
  --cardinal: #c01e30;
  --cardinal-50: #480913;
  --cardinal-100: #811a2c;
  --cardinal-200: #971a2c;
  --cardinal-300: #c01e30;
  --cardinal-400: #d52937;
  --cardinal-500: #e94a50;
  --cardinal-600: #f3797b;
  --cardinal-700: #f8aaa9;
  --cardinal-800: #fbd1d0;
  --cardinal-900: #fde8e6;
  --cardinal-950: #fef3f2;

  --background: #f5f5f5;

  --neutral-50: #f8fafc;
  --neutral-100: #f1f5f9;
  --neutral-200: #e2e8f0;
  --neutral-300: #cbd5e1;
  --neutral-400: #94a3b8;
  --neutral-500: #64748b;
  --neutral-600: #475569;
  --neutral-700: #334155;
  --neutral-800: #1e293b;
  --neutral-900: #0f172a;
  --neutral-950: #020617;

  --contrast: #000000;
}

.dark {
  --cardinal: #c01e30;
  --cardinal-50: #fef3f2;
  --cardinal-100: #fde8e6;
  --cardinal-200: #fbd1d0;
  --cardinal-300: #f8aaa9;
  --cardinal-400: #f3797b;
  --cardinal-500: #e94a50;
  --cardinal-600: #d52937;
  --cardinal-700: #c01e30;
  --cardinal-800: #971a2c;
  --cardinal-900: #811a2c;
  --cardinal-950: #480913;

  --background: #151823;

  --neutral-50: #020617;
  --neutral-100: #0f172a;
  --neutral-200: #1e293b;
  --neutral-300: #334155;
  --neutral-400: #475569;
  --neutral-500: #64748b;
  --neutral-600: #94a3b8;
  --neutral-700: #cbd5e1;
  --neutral-800: #e2e8f0;
  --neutral-900: #f1f5f9;
  --neutral-950: #f8fafc;

  --contrast: #ffffff;
}
