---
import '@styles/global.css';
import Meta from '@components/layout/Meta.astro';
import { SITE } from '@data/constants';
import Header from '@components/layout/Header.astro';

interface Props {
	title?: string;
	lang?: string;

}

const {
	title = SITE.title,
	lang = 'es-MX',
}: Props = Astro.props;
---

<!DOCTYPE html>
<html lang={ lang } class="light">
	<head>
		<Meta />
		<title>{ title }</title>
	</head>
	<body class="font-primary bg-background">
		<Header />
		<slot />
	</body>
</html>
