---
import '@styles/global.css';
import Meta from '@components/layout/Meta.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<Meta />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
		<h1>Hola</h1>
	</body>
</html>
