---
import '@styles/global.css';
import Meta from '@components/layout/Meta.astro';
import { SITE } from '@data/constants';
import Header from '@components/layout/Header.astro';
import Footer from '@components/layout/Footer.astro';

interface Props {
	title?: string;
	lang?: string;
	palette?: 'cardinal' | 'ambiental' | 'drones' | 'calderas' | 'civil' | 'capacitacion';
}

const {
	title = SITE.title,
	lang = 'es-MX',
	palette = 'cardinal',
}: Props = Astro.props;
---

<!DOCTYPE html>
<html lang={ lang } class="dark">
	<head>
		<Meta />
		<title>{ title }</title>
	</head>
	<body class="font-contrast bg-background">
		<Header palette={palette} />
		<slot />
		<Footer palette={palette} />
	</body>
</html>
